---
layout: default
title: People
description: 
featured_image: 
---

<div class="page-blog">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Zespół</h1>
			<p class="header__subtitle subtitle--light"></p>
		</div>
	</header>

	<section class="about">
		{% if include.divider == true %}
		  <div class="wrap"><hr/></div>
		  {% endif %}
		<div class="wrap grid">
	  
		  <div class="about__image">
			<img src="{{ '/images/people/AK.JPG' | relative_url }}" alt="">
	  
			{% include component-socials.html %}
		  </div>
	  
		  <div class="about__content">
			<h2 class="title">Aleksandra Kołodziejczyk</h2>
			<p class="subtitle subtitle--light">Prezeska stowarzyszenia
			</p>
	  
			<p> Mgr prawa, pracuje w dziale prawnym Europejskiego Urzędu ds. Bezpieczeństwa Żywności, prezeska Stowarzyszenia Everyone at the Table im. Januarego Kołodziejczyka. Interesuje się interdyscyplinarnymi badaniami nad zrównoważonym łańcuchem żywnościowym, przyszłością żywienia, dobrostanem zwierząt oraz popularyzacją zielonej transformacji na rynku żywności. Absolwentka summa cum laude Uniwersytetu Warszawskiego, z pracą magisterską uznaną przez Urząd Ochrony Konkurencji i Konsumentów (nagroda za najlepszą pracę magisterską z zakresu prawa konkurencji). Posiada doświadczenie w międzynarodowych kancelariach prawnych specjalizujących się w prawie konkurencji i prawie żywnościowym. Prywatnie pasjonatka gotowania i fotografii kulinarnej, prowadzi profil @safran_feeds na Instagramie promujący dietę roślinną.</p>
			<p><b>Umiejętności: </b>Analiza regulacyjna, prawny compliance, ocena ryzyka, komunikacja naukowa, rozwiązywanie problemów, zarządzanie projektami</p>
			<p><b>Społeczności: </b>Centrum Badań Ustroju Unii Europejskiej
</p>

		  </div>
		</div>
	  </section>

	  <section class="about">
		{% if include.divider == true %}
		  <div class="wrap"><hr/></div>
		  {% endif %}
		<div class="wrap grid">
	  
		  <div class="about__image">
			<img src="{{ '/images/people/ZCh.JPG' | relative_url }}" alt="">
	  
			{% include component-socials.html %}
		  </div>
	  
		  <div class="about__content">
			<h2 class="title">Zuzanna Choińska</h2>
			<p class="subtitle subtitle--light">Członkini zarządu
			</p>
	  
			<p>  
Doktorantka w Szkole Doktorskiej Nauk Społecznych Uniwersytetu Warszawskiego, absolwentka prawa na Wydziale Prawa i Administracji UW oraz analityczka w instytucie badawczym Digital Economy Lab (DELab UW). Wiceprezeska Stowarzyszenia Everyone at the Table im. Januarego Kołodziejczyka. W pracy badawczej zajmuje się prawem nowych technologii oraz danymi osobowymi, a w szczególności regulacją sztucznej inteligencji, kwestiami prywatności w sieci oraz wykorzystywaniem technologii przez organy ścigania. Posiada doświadczenie w międzynarodowych kancelariach prawnych, w zespołach specjalizujących się w ochronie danych osobowych, prawie nowych technologii oraz własności intelektualnej. Zainteresowana także sektorem legaltech, a prywatnie dietetyką, neuronauką oraz wpływem żywności na funkcjonowanie człowieka.
 

			</p>
			<p><b>Umiejętności: </b>Analiza regulacyjna, doradztwo w zakresie przetwarzania danych osobowych, zarządzanie projektami, prawo unijne, naukowa analiza regulacji prawnych</p>
			<p><b>Społeczności: </b>Centrum Badań Ustroju Unii Europejskiej, Szkoła Doktorska Nauk Społecznych UW
</p>
		  </div>
		</div>
	  </section>

	  <section class="about">
		{% if include.divider == true %}
		  <div class="wrap"><hr/></div>
		  {% endif %}
		<div class="wrap grid">
	  
		  <div class="about__image">
			<img src="{{ '/images/people/MK.JPG' | relative_url }}" alt="">
	  
			{% include component-socials.html %}
		  </div>
	  
		  <div class="about__content">
			<h2 class="title">Maria Koczorowska</h2>
			<p class="subtitle subtitle--light">Członkini zarządu
			</p>
	  
			<p> XXX
			</p>
			<p><b>Umiejętności: </b>XXX</p>
			<p><b>Społeczności: </b>XXX</p>
		  </div>
		</div>
	  </section>

	    <section class="about">
	  	{% if include.divider == true %}
	  	  <div class="wrap"><hr/></div>
	  	  {% endif %}
	  	<div class="wrap grid">
	    
	  	  <div class="about__image">
	  		<img src="{{ '/images/people/LK.JPG' | relative_url }}" alt="">
	    
	  		{% include component-socials.html %}
	  	  </div>
	    
	  	  <div class="about__content">
	  		<h2 class="title">Lilianna Krawczyk</h2>
	  		<p class="subtitle subtitle--light">
	  		</p>
	    
	  		<p> Ukończyła studia w Szkole Głównej Handlowej ze specjalizacją z finansów międzynarodowych oraz prawo na Uniwersytecie Warszawskim. Jako analityczka w Centrum Kompetencyjnym Europejskiego Zielonego Ładu EY, zajmuje się analizą wpływu regulacji na podmioty z sektora prywatnego i publicznego. Interesuje się tworzeniem strategii dekarbonizacji, w szczególności w zakresie gospodarki obiegu zamkniętego, raportowaniem niefinansowym oraz ustalaniem cen za emisję dwutlenku węgla (ang. carbon pricing). Ma doświadczenie w prowadzeniu krajowych oraz międzynarodowych projektów wdrażających rozwiązania ograniczające emisje gazów cieplarnianych.
	  		</p>
	  		<p><b>Umiejętności: </b>
Doradztwo w zakresie zrównoważonego rozwoju, raportowanie niefinansowe, zarządzanie projektami, analiza regulacyjna, analiza danych biznesowych
</p>
	  		  		<p><b>Społeczności: </b>
Liga Odpowiedzialnego Biznesu, The Chartered Institute of Management Accountants

</p>	
	  	  </div>
	  	</div>
	    </section>

	  <section class="about">
		{% if include.divider == true %}
		  <div class="wrap"><hr/></div>
		  {% endif %}
		<div class="wrap grid">
	  
		  <div class="about__image">
			<img src="{{ '/images/people/WP.JPG' | relative_url }}" alt="">
	  
			{% include component-socials.html %}
		  </div>
	  
		  <div class="about__content">
			<h2 class="title">Witek Pogorzelski</h2>
			<p class="subtitle subtitle--light">
			</p>
	  
			<p> Ukończył z wyróżnieniem prawo na Uniwersytecie Warszawskim, gdzie obecnie kontynuuje naukę na Wydziale Filozofii w ramach studiów magisterskich na kierunkach filozofia oraz bioetyka. Doświadczenie zawodowe zdobywał w międzynarodowych kancelariach prawnych, zajmując się prawem handlowym, cywilnym oraz postępowaniami cywilnymi i arbitrażowymi. W pracy badawczej koncentruje się na zagadnieniach z zakresu międzynarodowego prawa klimatycznego i ochrony środowiska, edukacji krytycznej oraz globalnej sprawiedliwości klimatycznej i zdrowotnej, ze szczególnym uwzględnieniem łańcuchów żywnościowych. Prywatnie pasjonuje się filozofią, wspinaczką, sportami zimowymi i gotowaniem. Od wielu lat pracuje także jako instruktor narciarstwa podczas wyjazdów i treningów sportowych z dziećmi i młodzieżą.
			</p>
			<p><b>Umiejętności: </b>Analiza aktów prawnych, redakcja tekstów naukowych i pism prawniczych, organizacja projektów oraz wydarzeń, </p>
			
		  </div>
		</div>
	  </section>

	  <section class="about">
		{% if include.divider == true %}
		  <div class="wrap"><hr/></div>
		  {% endif %}
		<div class="wrap grid">
	  
		  <div class="about__image">
			<img src="{{ '/images/people/KK.JPG' | relative_url }}" alt="">
	  
			{% include component-socials.html %}
		  </div>
	  
		  <div class="about__content">
			<h2 class="title">Kevin Kaczor</h2>
			<p class="subtitle subtitle--light">
			</p>
	  
			<p> Aplikant radcowski, członek Okręgowej Izby Radców Prawnych w Warszawie. W 2016 r. ukończył studia historyczne na King’s College London z tytułem Bachelor of Arts in History; w tym samym roku otrzymał również tytuł Associate of King’s College. W 2021 r. uzyskał tytuł magistra prawa summa cum laude na Wydziale Prawa i Administracji Uniwersytetu Warszawskiego. Współautor monografii „Konstytucyjne interregnum. Transformacje porządków prawnych”, w ramach której badał historię izraelskiego konstytucjonalizmu. Pracuje w kancelarii Peter Nielsen & Partners Law Office w Warszawie.

			</p>
			<p><b>Umiejętności: </b>Prawo spółek handlowych, prawo unijne, cywilne postępowanie nieprocesowe, analiza aktów normatywnych, legal compliance, creative writing</p>
			<p><b>Społeczności: </b>Okręgowa Izba Radców Prawnych w Warszawie</p>
		  </div>
		</div>
	  </section>

	  <section class="about">
		{% if include.divider == true %}
		  <div class="wrap"><hr/></div>
		  {% endif %}
		<div class="wrap grid">
	  
		  <div class="about__image">
			<img src="{{ '/images/people/PH.JPG' | relative_url }}" alt="">
	  
			{% include component-socials.html %}
		  </div>
	  
		  <div class="about__content">
			<h2 class="title">Patryk Hubar</h2>
			<p class="subtitle subtitle--light">Badacz, programista
			</p>
	  
			<p> Mgr, specjalista ds. humanistyki cyfrowej w Centrum Humanistyki Cyfrowej Instytutu Badań Literackich Polskiej Akademii Nauk. W ramach studiów doktoranckich “Humanistyka cyfrowa” realizowanych przez IBL PAN oraz Polsko-Japońską Akademię Technik komputerowych, przygotowuje pracę doktorską dotyczącą przetwarzania danych bibliograficznych z wykorzystaniem algorytmów uczenia maszynowego. Interesuje się analizą danych, przetwarzaniem języka naturalnego, sztuczną inteligencją oraz technologiami Semantycznego Webu. Współpracuje z Katedrą Informatologii Wydziału Dziennikarstwa, Informacji i Bibliologii UW, gdzie prowadzi zajęcia dla studentów pierwszego i drugiego stopnia.
			</p>
			<p><b>Umiejętności: </b>Zarządzanie projektem; programowanie w językach Python, R i Java; przetwarzanie języka naturalnego; przetwarzanie i analiza danych; Semantyczny Web</p>
			<p><b>Społeczności: </b>Bibliodata Working Group at DARIAH-EU, Association of Internet Researchers, European Association for Digital Humanities
</p>
		  </div>
		</div>
	  </section>
</div>
