<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">Napisz do nas</h2>
        <p class="subtitle--light">Wolisz skontaktować się z nami bezpośrednio przez maila? Napisz tu <a
            href="mailto: {{ site.data.settings.contact_settings.email_address }}">{{ site.data.settings.contact_settings.email_address }}</a>
        </p>
      </header>

      <form method="POST" action="{{ site.data.settings.contact_settings.form_action }}" class="contact__form">
        <div class="input-group">
          <label for="name">Twoje imię</label>
          <input type="text" name="name" id="name" placeholder="" />
        </div>

        <div class="input-group">
          <label for="email">Twój adres mailowy</label>
          <input type="email" name="email" id="email" placeholder="" />
        </div>

        <div class="input-group">
          <label for="message">Wiadomość</label>
          <textarea name="message" id="message" placeholder="" rows="4"></textarea>
        </div>

        <input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
        <input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
        <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

        <div class="input-submit">
          <input type="submit" class="button--fill" value="{{ site.data.settings.contact_settings.send_button_text }}">
        </div>
      </form>
    </div>
  </div>
</section>