<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

<style>
    .subtitle {
        text-align: center;  /* Dodano wyśrodkowanie tekstu */
    }
</style>




    <div class="about__content">
      <h2 class="title">Jedzenie jest ważne. Debata jest ważna. Środowisko też. Usiądźmy przy stole!</h2>
      <p class="subtitle subtitle--light">


      <p>
Stowarzyszenie Everyone at the Table im. Januarego Kołodziejczyka powstało z inicjatywy młodych ludzi, którzy wspólnym działaniem chcą poszerzać świadomość dotyczącą skutków codziennych wyborów oraz problemów związanych z produkcją i konsumpcją żywności.
      </p>
      <p>Jesteśmy think-tankiem chcącym łączyć konsumentów, producentów, kucharzy, badaczy, aktywistów i decydentów politycznych, bo każdy ma do odegrania swoją rolę. Kochamy jeść i gotować, ale też czytać, rozwijać się i walczyć o żywność lepszej jakości, produkowaną na zdrowej planecie w sprawiedliwym społecznie otoczeniu.</p>

<!--       <p>
        {% include component-socials.html %}
          

      </p> -->
   
  
    </div> 

    <div class="about__content">

    {% include instagram.html username="everyone_at_the_table" %}
</div>

  </div>



</section>